@import "tailwindcss";

@theme {
  --color-snow: #f7f7f7;
}

@layer base {
  body {
    @apply bg-white;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
